<!DOCTYPE html>
<html lang="pt-br">
<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=7">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Notícias | EEEP Comendador Miguel Gurgel</title>
       <link rel="stylesheet" href="/css/index.css">
       <script src="https://kit.fontawesome.com/02c671b62d.js" crossorigin="anonymous"></script>
</head>
<body>
       <header class="menu-container">
              <nav class="nav-bar">
                     <h2 class="title">EEEP COMENDADOR MIGUEL GURGEL</h2>

                     <ul class="links">
                            <li><a href="/templates/inicialPage/inicio.html#inicio">Início</a></li>
                            <li><a href="/templates/inicialPage/inicio.html#sobre">A Escola</a></li>
                            <li><a href="/templates/inicialPage/inicio.html#cursos">Cursos</a></li>
                            <li><a href="/templates/secondPages/noticia.html">Notícias</a></li>
                            <li><a href="/templates/secondPages/galeria.html">Galeria</a></li>
                            <li><a href="/templates/secondPages/contato.html">Contato</a></li>
                     </ul>
              </nav>
       </header>

       <section id="galeria" class="galeria">
              <h1>Galeria</h1>

              <div class="grid">
                     <div class="box green" href="#">Instalações</div>
                     <div class="box blue" href="#">Laboratórios</div>
                     <div class="box purple" href="#">Eventos</div>
                     <div class="box orange" href="#">Biblioteca</div>
                     <div class="box pink" href="#">Atividades</div>
                     <div class="box teal" href="#">Formatura</div>
              </div>
       </section>

       <script src="/js/script.js"></script>
</body>
</html>