<!DOCTYPE html>
<html lang="pt-Br">
<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=7">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Notícias | EEEP Comendador Miguel Gurgel</title>
       <link rel="stylesheet" href="/css/index.css">
       <script src="https://kit.fontawesome.com/02c671b62d.js" crossorigin="anonymous"></script>
</head>
<body>
       <header class="menu-container">
              <nav class="nav-bar">
                     <h2 class="title">EEEP COMENDADOR MIGUEL GURGEL</h2>

                     <ul class="links">
                            <li><a href="/templates/inicialPage/inicio.html#inicio">Início</a></li>
                            <li><a href="/templates/inicialPage/inicio.html#sobre">A Escola</a></li>
                            <li><a href="/templates/inicialPage/inicio.html#cursos">Cursos</a></li>
                            <li><a href="/templates/secondPages/noticia.html">Notícias</a></li>
                            <li><a href="/templates/secondPages/galeria.html">Galeria</a></li>
                            <li><a href="/templates/secondPages/contato.html">Contato</a></li>
                     </ul>
              </nav>
       </header>

       <section class="noticias" id="noticias">
              <h1>Notícias</h1>

              <div class="cards">

                     <div class="card">
                            <div class="card-img green"></div>
                            <div class="card-content">
                                   <span>15 de Janeiro, 2024</span>
                                   <h3>Abertura das Matrículas 2024</h3>
                                   <p>Estão abertas as inscrições para o ano letivo de 2024.</p>
                            </div>
                     </div>

                     <div class="card">
                            <div class="card-img blue"></div>
                            <div class="card-content">
                                   <span>10 de Dezembro, 2023</span>
                                   <h3>Alunos Conquistam Prêmio Regional</h3>
                                   <p>Estudantes se destacam em competição de tecnologia.</p>
                            </div>
                     </div>

                     <div class="card">
                            <div class="card-img purple"></div>
                            <div class="card-content">
                                   <span>5 de Novembro, 2023</span>
                                   <h3>Nova Parceria com Empresas</h3>
                                   <p>Parcerias ampliam estágios e oportunidades.</p>
                            </div>
                     </div>

              </div>
       </section>
</body>
</html>